<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    android:versionCode="2"
    android:versionName="1.1"
    package="com.cs442project.appmonitor">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.cs442project.appmonitor.SplashScreen"
            android:configChanges="locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".MainScreen"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".About"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".AppLimit"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".SettingPage"
            android:label="@string/app_name">

        </activity>




        <service
            android:name=".AppService"
            android:label="@string/app_name">

        </service>

        <receiver android:name=".MyWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cs442project.appmonitor.MyWidgetProvider.ACTION_WIDGET_LIMIT"/>
                <action android:name="com.cs442project.appmonitor.MyWidgetProvider.ACTION_WIDGET_SELECTAPP"/>
                <action android:name="com.cs442project.appmonitor.MyWidgetProvider.ACTION_WIDGET_DAILY"/>
                <action android:name="com.cs442project.appmonitor.MyWidgetProvider.ACTION_WIDGET_WEEKLY"/>
                <action android:name="com.cs442project.appmonitor.MyWidgetProvider.ACTION_WIDGET_MONTHLY"/>
                <action android:name="com.cs442project.appmonitor.MyWidgetProvider.ACTION_WIDGET_ALLUSAGE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>


    </application>

</manifest>
